keyframes blink {
    0% { text-shadow: 0 0 30px cyan; }
    50% { text-shadow: none; }
    100% { text-shadow: 0 0 30px cyan; }
}

@-webkit-keyframes blink {
    0% { text-shadow: 0 0 30px cyan; }
    50% { text-shadow: 0 0 0; }
    100% { text-shadow: 0 0 30px cyan; }
}

.blink {
    -webkit-animation: blink 0.5s linear infinite;
    -moz-animation: blink 0.5s linear infinite;
    -ms-animation: blink 0.5s linear infinite;
    -o-animation: blink 0.5s linear infinite;
    animation: blink 0.5s linear infinite;
}

body {
	background-color: #111111;
	font-family: "Audiowide", sans-serif;

}
h1 {
	color: cyan;
	text-align: center;
	font-size: xxx-large;
	text-shadow: 2px 2px 9px magenta;
}

h2 {
	color: lime;
	font-size: xx-large;
}

h3 {
	color: lime;
	font-size: x-large;
}

h4 {
	color: cyan;
}

.details p {
	text-align: center;
	size: large;
}

p {
	size: medium;
	color: cyan;
	font-family: arial;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	align-content: center;
}

#nav_bar {
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: large;
	width: 325px;
	margin-top: 30px;
}

.faq_item {
	padding: 8px 0px 20px 30px;
	color: skyblue;
}

.faq_header {
	color: cyan;
	text-shadow: 2px 2px 9px magenta;
}

.logistics-item {
	padding: 0px 0px 0px 30px;
	color: skyblue;
}

.center {
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	  width: 50%;
}

.header {
	margin-bottom: 50px;
}

.pink {
	color: magenta;
	text-align: center;
}

.ascii-spiral {
	width: 360px;
	display: block;
	margin-left: auto;
 	margin-right: auto;
 	margin-top: 50px;
}

.ascii-desert {
	width: 360px;
	display: block;
	margin-left: auto;
 	margin-right: auto;
 	margin-top: 50px;
 	margin-bottom: 20px;
}

.rainbow-text {
		background-image: linear-gradient(to left, violet, indigo, cyan, lime, yellow, magenta);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
}

.rainbow-text-menu {
		background-image: linear-gradient(to left, cyan, lime, yellow, magenta);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
}

.details {
	margin-top: 100px;
	margin-bottom: 75px;
}

.drop-shadow {
	filter: drop-shadow(0 0mm 10mm rgb(160, 0, 210));
}

.faq {

}

a {
	text-decoration: none;
	color: magenta;
}

#reveal {
	display: block;
}

.spiral {
	margin-top: 50px;
	margin-bottom: 50px;
}